In [5]:
import requests as req
import pandas as pd

url = 'https://raw.githubusercontent.com/rapsoj/water-supply-forecast/main/assets/data/teleconnections/mjo.txt'
res = req.get(url)

file = open('mjo.txt', 'w')
file.write(res.text)
file.close()

In [6]:
file1 = 'mjo.txt'

with open(file1, "r") as file1:
    FileContent = file1.read()
    #print(FileContent)

In [8]:
df = pd.read_csv('mjo.txt', delim_whitespace = True)
df.to_csv('mjo.csv')
df

,INDEX_9,INDEX_10,INDEX_1,INDEX_2,INDEX_3,INDEX_4,INDEX_5,INDEX_6,INDEX_7,INDEX_8
PENTAD,20E,70E,80E,100E,120E,140E,160E,120W,40W,10W
19780103,0.38,1.01,1.28,0.73,0.54,-0.16,-0.77,-1.22,-1.09,-0.34
19780108,-0.99,-0.27,0.82,1.39,1.34,1.10,0.57,-0.26,-1.18,-1.36
19780113,-1.10,-1.17,-0.65,0.33,0.60,1.03,1.18,0.96,0.14,-0.69
19780118,1.68,0.88,-0.67,-1.78,-1.70,-1.73,-1.25,-0.20,1.25,1.88
...,...,...,...,...,...,...,...,...,...,...
20231209,*****,*****,*****,*****,*****,*****,*****,*****,*****,*****
20231214,*****,*****,*****,*****,*****,*****,*****,*****,*****,*****
20231219,*****,*****,*****,*****,*****,*****,*****,*****,*****,*****
20231224,*****,*****,*****,*****,*****,*****,*****,*****,*****,*****
20231229,*****,*****,*****,*****,*****,*****,*****,*****,*****,*****

In [48]:
filename = 'oni.txt'

url = 'https://raw.githubusercontent.com/rapsoj/water-supply-forecast/main/assets/data/teleconnections/' + filename
res = req.get(url)
file = open(filename, 'w')
file.write(res.text)
file.close()

df = pd.read_csv(filename, delim_whitespace = True)
df.to_csv('oni.csv')

    SEAS    YR  TOTAL  ANOM
0    DJF  1950  24.72 -1.53
1    JFM  1950  25.17 -1.34
2    FMA  1950  25.75 -1.16
3    MAM  1950  26.12 -1.18
4    AMJ  1950  26.32 -1.07
..   ...   ...    ...   ...
879  MAM  2023  27.85  0.16
880  AMJ  2023  28.31  0.48
881  MJJ  2023  28.43  0.77
882  JJA  2023  28.36  1.07
883  JAS  2023  28.28  1.32

[884 rows x 4 columns]

In [60]:
filename = 'pdo.txt'

url = 'https://raw.githubusercontent.com/rapsoj/water-supply-forecast/main/assets/data/teleconnections/' + filename
res = req.get(url)
file = open(filename, 'w')
file.write(res.text)
file.close()

df = pd.read_csv(filename, delim_whitespace = True, skiprows = 1)
df.to_csv('pdo.csv')
df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1854,0.11,-0.24,-0.40,-0.44,-0.54,-0.30,-0.10,-1.24,-1.00,-2.23,-1.68,-1.76
1,1855,-0.20,-0.39,-0.24,-0.58,-1.34,-1.88,-1.13,-0.48,-0.76,-0.63,-0.41,-0.88
2,1856,-0.39,0.47,0.42,-0.96,-1.26,-2.15,-0.69,0.63,0.58,0.59,0.23,0.04
3,1857,-0.52,-1.67,-1.05,-0.81,-0.65,1.03,1.17,0.81,0.84,0.70,0.38,-0.55
4,1858,-0.96,-1.53,-1.76,-0.82,0.49,2.19,1.05,0.67,1.38,2.35,0.46,-1.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2019,-0.34,-0.72,-0.39,0.10,0.26,-0.05,0.54,0.01,0.13,-0.90,-0.49,0.00
166,2020,-1.41,-1.48,-1.75,-1.32,-0.53,-0.76,-0.92,-1.33,-1.04,-0.62,-1.59,-0.99
167,2021,-0.61,-1.10,-1.68,-1.85,-2.01,-1.81,-1.96,-0.94,-1.96,-3.11,-2.75,-2.71
168,2022,-2.40,-1.91,-1.67,-2.10,-2.25,-1.34,-2.62,-2.38,-2.29,-1.80,-2.41,-2.21
169,2023,-1.25,-1.65,-2.45,-3.07,-2.41,-2.53,-2.52,-2.46,-2.94,99.99,99.99,99.99

In [57]:
filename = 'pna.txt'

url = 'https://raw.githubusercontent.com/rapsoj/water-supply-forecast/main/assets/data/teleconnections/' + filename
res = req.get(url)
file = open(filename, 'w')
file.write(res.text)
file.close()

df = pd.read_csv(filename, delim_whitespace = True)
df.to_csv('pna.csv')
df

       Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
1950 -2.34 -1.04  0.24  0.01 -0.55 -1.97 -0.43  0.82 -1.15  0.49 -1.81  0.02
1951 -0.41 -1.36 -0.81  0.73  1.26 -0.61 -0.02  0.05 -0.05  0.24  0.23 -1.29
1952 -1.98  0.28 -0.40  1.16 -0.99  0.39 -1.23  0.80  0.53  0.80  0.82  0.93
1953  0.65  1.00 -0.15  1.05  1.20 -1.60  0.74 -1.12 -0.12  1.91  1.65  1.27
1954 -1.14 -0.14 -1.17 -2.70  0.64 -0.02  0.30 -0.08  0.00  0.75  1.45 -0.52
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
2019  0.83 -1.08  0.25 -0.61 -0.29  0.12  1.11  1.18  2.00 -1.02 -0.06  0.18
2020 -0.24  0.17 -2.17 -1.18  0.21  0.70  1.73  1.82  0.75 -1.13  0.24  1.58
2021  0.19 -0.31 -0.97 -1.05 -1.35  0.67  0.56  0.95  0.44  1.13  0.72 -2.56
2022  1.01  0.66  0.13 -0.74 -0.83 -0.31  2.54  0.79  0.21  0.17 -0.73 -0.66
2023  0.21 -0.64 -1.63 -0.42 -0.86  0.69  1.15  0.45  1.06   NaN   NaN   NaN

[74 rows x 12 columns]

In [3]:
filename = 'soi1.txt'

url = 'https://raw.githubusercontent.com/rapsoj/water-supply-forecast/main/assets/data/teleconnections/' + filename
res = req.get(url)
file = open(filename, 'w')
file.write(res.text)
file.close()

df = pd.read_csv(filename, delim_whitespace = True, skiprows = 3, nrows = 72)
df.to_csv('soi1.csv')

df

    YEAR  JAN  FEB  MAR  APR  MAY  JUN  JUL  AUG  SEP  OCT  NOV  DEC
0   1951  2.5  1.5 -0.2 -0.5 -1.1  0.3 -1.7 -0.4 -1.8 -1.6 -1.3 -1.2
1   1952 -1.5 -1.0  0.9 -0.4  1.2  1.2  0.8  0.1 -0.4  0.6  0.0 -2.0
2   1953  0.5 -0.8 -0.3  0.3 -2.8  0.2 -0.0 -2.0 -2.1  0.1 -0.5 -0.8
3   1954  1.1 -0.5  0.4  1.1  0.8  0.2  0.7  1.8  0.3  0.4  0.2  2.3
4   1955 -0.9  3.1  1.1 -0.2  1.7  2.2  2.6  2.4  2.2  2.5  2.0  1.6
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
67  2018  1.8 -0.8  2.4  0.8  0.6 -0.2  0.4 -0.5 -1.5  0.6 -0.1  1.7
68  2019 -0.1 -2.3 -0.5  0.2 -0.7 -0.7 -0.6 -0.2 -1.9 -0.6 -1.4 -0.9
69  2020  0.3 -0.1 -0.2  0.3  0.7 -0.6  0.7  1.8  1.5  0.8  1.1  3.0
70  2021  3.2  2.5  0.6  0.6  0.8  0.7  2.3  1.0  1.3  1.2  1.6  2.5
71  2022  0.8  1.8  2.9  2.8  2.4  2.8  1.3  1.7  2.7  2.8  0.5  3.5

[72 rows x 13 columns]

In [4]:
filename = 'soi2.txt'

url = 'https://raw.githubusercontent.com/rapsoj/water-supply-forecast/main/assets/data/teleconnections/' + filename
res = req.get(url)
file = open(filename, 'w')
file.write(res.text)
file.close()

df = pd.read_csv(filename, delim_whitespace = True, skiprows = 3, nrows = 72)
df.to_csv('soi2.csv')

df

    YEAR  JAN  FEB  MAR  APR  MAY  JUN  JUL  AUG  SEP  OCT  NOV  DEC
0   1951  1.5  0.9 -0.1 -0.3 -0.7  0.2 -1.0 -0.2 -1.1 -1.0 -0.8 -0.7
1   1952 -0.9 -0.6  0.5 -0.2  0.8  0.7  0.5  0.1 -0.2  0.4  0.0 -1.2
2   1953  0.3 -0.5 -0.2  0.2 -1.7  0.1 -0.0 -1.2 -1.2  0.1 -0.3 -0.5
3   1954  0.7 -0.3  0.3  0.6  0.5  0.1  0.4  1.1  0.2  0.3  0.1  1.4
4   1955 -0.5  1.9  0.6 -0.1  1.0  1.3  1.6  1.5  1.3  1.5  1.2  1.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
67  2018  1.1 -0.5  1.5  0.5  0.4 -0.1  0.2 -0.3 -0.9  0.4 -0.1  1.0
68  2019 -0.0 -1.4 -0.3  0.1 -0.4 -0.5 -0.4 -0.1 -1.2 -0.4 -0.8 -0.6
69  2020  0.2 -0.1 -0.1  0.2  0.4 -0.4  0.4  1.1  0.9  0.5  0.7  1.8
70  2021  1.9  1.5  0.4  0.3  0.5  0.4  1.4  0.6  0.8  0.7  1.0  1.5
71  2022  0.5  1.1  1.8  1.7  1.4  1.7  0.8  1.0  1.6  1.7  0.3  2.1

[72 rows x 13 columns]