In [48]:
import requests
import csv

In [41]:
api_url = "https://data.rcc-acis.org/StnMeta"

states = ['MT', 'ID', 'CO', 'WY', 'WA', 'UT', 'CA', 'OR', 'NM']
format_param = 'json'

try:
    all_data = []

    # Iterate over each state and make a request
    for state in states:
        params = {
            'state': state,
            'format': format_param,
        }

        response = requests.get(api_url, params=params)
        response.raise_for_status()

        state_data = response.json().get('meta', [])
        all_data.extend(state_data)

    csv_file = "acis_stnmeta.csv"

    # Extract all unique fields from the data
    all_fields = set()
    for station_info in all_data:
        all_fields.update(station_info.keys())

    # Open the CSV file in write mode
    with open(csv_file, 'w', newline='') as csvfile:
        # Create a CSV writer object
        csvwriter = csv.writer(csvfile)

        # Write the header (field names) to the CSV file
        csvwriter.writerow(all_fields)

        # Write each row of data to the CSV file
        for station_info in all_data:
            # Extract all values dynamically based on the available fields
            row = [station_info.get(field, "") for field in all_fields]
            csvwriter.writerow(row)

    print(f"Data saved to {csv_file}")
except requests.exceptions.HTTPError as errh:
    print(f"HTTP Error: {errh}")
except requests.exceptions.RequestException as err:
    print(f"Request Error: {err}")

Data saved to acis_stnmeta.csv

In [43]:
df = pd.read_csv('acis_stnmeta.csv')
df

,sids,uid,state,ll,name,elev
0,"['94010 1', '247288 2', 'GSG 3', 'USW00094010 ...",75,MT,"[-106.51487, 48.40849]",ST. MARIE,2741.0
1,['94172 1'],11624,MT,"[-112.43333, 46.56667]",ELLISTON,NaN
2,"['242313 2', 'USC00242313 6']",11625,MT,"[-112.91667, 44.5]",DELL 19 SW,7805.0
3,"['24107 1', '245811 2', 'MQM 3', 'USC00245811 ...",11626,MT,"[-112.31667, 44.56667]",MONIDA,6785.0
4,"['242312 2', 'USC00242312 6']",11628,MT,"[-112.8, 44.56667]",DELL 12 SSW,6611.0
...,...,...,...,...,...,...
21745,"['US1NMDA0382 6', 'NMDA0382 10']",109738,NM,"[-106.77527, 32.27737]",LAS CRUCES 4.2 SSW,3900.0
21746,"['US1NMBR0436 6', 'NMBR0436 10']",109750,NM,"[-106.46577, 35.05946]",ALBUQUERQUE 9.8 ESE,5791.0
21747,"['US1NMSM0044 6', 'NMSM0044 10']",109821,NM,"[-105.68114, 35.57914]",PECOS 0.3 NNW,6990.0
21748,"['US1NMBR0435 6', 'NMBR0435 10']",109876,NM,"[-106.62281, 35.17523]",NORTH VALLEY 0.1 N,4997.0
21749,"['294748 2', 'LARN5 7']",110128,NM,"[-108.16757, 33.03017]",LAKE ROBERTS,6113.0

In [53]:
api_url = "https://data.rcc-acis.org/StnData"

sid = ['244328 2', 'USC00244328 6', 'HGHM8 7']
meta = ['name', 'state']
format_param = 'json'

try:
    all_data = []

    # Iterate over each state and make a request
    for state in states:
        params = {
            'sid': sid,
            'meta': meta,
            'format': format_param,
        }

        response = requests.get(api_url, params=params)
        response.raise_for_status()

        state_data = response.json().get('meta', [])
        all_data.extend(state_data)

    csv_file = "acis_stndata.csv"

    # Extract all unique fields from the data
    all_fields = set()
    for station_info in all_data:
        all_fields.update(station_info.keys())

    # Open the CSV file in write mode
    with open(csv_file, 'w', newline='') as csvfile:
        # Create a CSV writer object
        csvwriter = csv.writer(csvfile)

        # Write the header (field names) to the CSV file
        csvwriter.writerow(all_fields)

        # Write each row of data to the CSV file
        for station_info in all_data:
            # Extract all values dynamically based on the available fields
            row = [station_info.get(field, "") for field in all_fields]
            csvwriter.writerow(row)

    print(f"Data saved to {csv_file}")
except requests.exceptions.HTTPError as errh:
    print(f"HTTP Error: {errh}")
except requests.exceptions.RequestException as err:
    print(f"Request Error: {err}")

HTTP Error: 400 Client Error: Bad Request for url: https://data.rcc-acis.org/StnData?sid=244328+2&sid=USC00244328+6&sid=HGHM8+7&meta=name&meta=state&format=json

In [57]:
import requests

api_url = "https://data.rcc-acis.org/StnData"

# Example parameters (replace with your specific values)
station_ids = ['244328 2', 'USC00244328 6', 'HGHM8 7']

params = {
    'station_id': station_ids,
    'meta': ['name', 'state'],
    'format': 'json',
}

try:
    response = requests.get(api_url, params=params)
    response.raise_for_status()

    data = response.json()
    print(data)

except requests.exceptions.HTTPError as errh:
    print(f"HTTP Error: {errh}")
except requests.exceptions.RequestException as err:
    print(f"Request Error: {err}")

HTTP Error: 400 Client Error: Bad Request for url: https://data.rcc-acis.org/StnData?station_id=244328+2&station_id=USC00244328+6&station_id=HGHM8+7&meta=name&meta=state&format=json