# Process SNOTEL

### Prepare Workspace

In [1]:
# Import system libraries
import os
import sys

# Import data manipulation libraries
import pandas as pd
import numpy as np
import datetime

# Set working directory
os.chdir('/Users/jessicarapson/Documents/GitHub/water-supply-forecast')

### Download Data from Files

In [2]:
# Download data
df = pd.read_csv('assets/data/snotel.csv')

In [3]:
df

,date,site,station,PREC_DAILY,WTEQ_DAILY,TAVG_DAILY,TMAX_DAILY,TMIN_DAILY,SNWD_DAILY
0,1984-01-01,boise_r_nr_boise,306,24.3,19.3,NaN,NaN,NaN,NaN
1,1984-01-08,boise_r_nr_boise,306,25.1,19.5,NaN,NaN,NaN,NaN
2,1984-01-15,boise_r_nr_boise,306,25.7,19.8,NaN,NaN,NaN,NaN
3,1984-01-22,boise_r_nr_boise,306,25.9,20.1,NaN,NaN,NaN,NaN
4,1984-02-01,boise_r_nr_boise,306,26.9,21.1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
242501,2023-03-22,merced_river_yosemite_at_pohono_bridge,846,44.1,51.3,20.7,30.9,13.3,144.0
242502,2023-04-01,merced_river_yosemite_at_pohono_bridge,846,46.2,53.9,33.6,44.1,22.1,141.0
242503,2023-04-08,merced_river_yosemite_at_pohono_bridge,846,46.6,54.3,36.0,46.6,26.6,132.0
242504,2023-04-15,merced_river_yosemite_at_pohono_bridge,846,46.6,53.1,36.3,50.2,26.1,121.0
242505,2023-04-22,merced_river_yosemite_at_pohono_bridge,846,46.6,51.7,37.8,47.3,29.8,115.0